<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>触控时讯-主界面</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="js/zepto.min.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
		<script type="text/javascript" src="js/subscription.js"></script>
		<script>
			document.getElementsByTagName("html")[0].style.fontSize = innerWidth / 16 + "px";
		</script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/homepage.css" />
		<link rel="stylesheet" type="text/css" href="css/subscription.css"/>
	</head>
	<body>
		<div class="container">
			<header>
				<ul class="head">
					<li class="active" id="topline">
						<span>头条</span>
					</li>
					<li id="subscribe"><span>订阅</span></li>
					<li id="search">
						<a href="search.html"><i class="glyphicon glyphicon-search"></i></a>
					</li>
				</ul>
			</header>
			<section ng-app="app">
				<ul class="home-con">
					<li class="topline">
						
					</li>
					<li class="scribe" ng-controller="control">
                          <div class="msg">
             	             <h4>我的订阅</h4>
                          </div>
                          <ul class="list">
                          	<li ng-repeat="v in list" ng-click="chan($index)">
                          		<span>{{v}}</span>
                          		<img src="img/remove.png" >
                          	</li>
                          </ul>
                          <div class="msg">
             	             <h4>订阅推荐</h4>
                          </div>
                          <ul class="list2" >
                          	<li ng-repeat="v in list2" ng-click="chan1($index)">
                          		<span>{{v}}</span>
                          		<img src="img/true.png" >
                          	</li>
                          </ul>                          
					</li>
				</ul>
			</section>
			<footer>
				<ul id="footlist">
					<li class="active">
						<a href="index.html">
							<p></p>
							<span>时讯</span>	
						</a>
					</li>
					<li>
						<a href="circle.html">
							<p></p>
							<span>视频</span>	
						</a>
						
					</li>
					<li>
						<a href="video.html">
							<p></p>
							<span>直播</span>	
						</a>
						
					</li>
					<li >
						<a>
							<p></p>
							<span>我的</span>	
						</a>
						
					</li>
				</ul>
			</footer>
		</div>
	</body>

</html>